# running eyelog examples and test cases

|eyelog v1.7.19 and scryer v0.9.4         |eyelog v1.7.19 and sicstus v4.9.0        |eyelog v1.7.19 and swipl v9.3.19         |eyelog v1.7.19 and trealla v2.63.33      |
|-----------------------------------------|-----------------------------------------|-----------------------------------------|-----------------------------------------|
|access-control-policy.pl      117 msec OK|access-control-policy.pl      387 msec OK|access-control-policy.pl       94 msec OK|access-control-policy.pl       72 msec OK|
|ackermann.pl                  724 msec OK|ackermann.pl                  674 msec OK|ackermann.pl                  361 msec OK|ackermann.pl                 1184 msec OK|
|age.pl                        137 msec OK|age.pl                        354 msec OK|age.pl                         81 msec OK|age.pl                         65 msec OK|
|basic-monadic.pl             4270 msec OK|basic-monadic.pl              966 msec OK|basic-monadic.pl              266 msec OK|basic-monadic.pl             1266 msec OK|
|collatz.pl                 152067 msec OK|collatz.pl                  48971 msec OK|collatz.pl                   1544 msec OK|collatz.pl                   2261 msec OK|
|combinatorics.pl              207 msec OK|combinatorics.pl              369 msec OK|combinatorics.pl               83 msec OK|combinatorics.pl               91 msec OK|
|complex.pl                    121 msec OK|complex.pl                    390 msec OK|complex.pl                     84 msec OK|complex.pl                     72 msec OK|
|control-system.pl             120 msec OK|control-system.pl             366 msec OK|control-system.pl              79 msec OK|control-system.pl              66 msec OK|
|curly.pl                      119 msec OK|curly.pl                      353 msec OK|curly.pl                       76 msec OK|curly.pl                       65 msec OK|
|deep-taxonomy.pl             3496 msec OK|deep-taxonomy.pl            10193 msec OK|deep-taxonomy.pl              644 msec OK|deep-taxonomy.pl             1063 msec OK|
|derived-rule.pl               117 msec OK|derived-rule.pl               383 msec OK|derived-rule.pl                77 msec OK|derived-rule.pl                68 msec OK|
|diamond-property.pl           148 msec OK|diamond-property.pl           358 msec OK|diamond-property.pl            81 msec OK|diamond-property.pl            69 msec OK|
|dog.pl                        113 msec OK|dog.pl                        374 msec OK|dog.pl                         77 msec OK|dog.pl                         64 msec OK|
|easter.pl                     125 msec OK|easter.pl                     354 msec OK|easter.pl                      76 msec OK|easter.pl                      66 msec OK|
|enigma1225.pl                 235 msec OK|enigma1225.pl                 373 msec OK|enigma1225.pl                  86 msec OK|enigma1225.pl                  90 msec OK|
|eulers-identity.pl            109 msec OK|eulers-identity.pl            364 msec OK|eulers-identity.pl             80 msec OK|eulers-identity.pl             64 msec OK|
|fast-fourier-transform.pl     132 msec OK|fast-fourier-transform.pl     354 msec OK|fast-fourier-transform.pl      78 msec OK|fast-fourier-transform.pl      68 msec OK|
|fibonacci.pl                  127 msec OK|fibonacci.pl                  358 msec OK|fibonacci.pl                   79 msec OK|fibonacci.pl                   85 msec OK|
|four-color.pl                 122 msec OK|four-color.pl                 376 msec OK|four-color.pl                  78 msec OK|four-color.pl                  66 msec OK|
|fuse.pl                       117 msec OK|fuse.pl                       376 msec OK|fuse.pl                        78 msec OK|fuse.pl                        64 msec OK|
|goldbach.pl                615341 msec OK|goldbach.pl                325339 msec OK|goldbach.pl                  5318 msec OK|goldbach.pl                 24515 msec OK|
|good-cobbler.pl               119 msec OK|good-cobbler.pl               353 msec OK|good-cobbler.pl                80 msec OK|good-cobbler.pl                85 msec OK|
|gps.pl                        112 msec OK|gps.pl                        354 msec OK|gps.pl                         85 msec OK|gps.pl                         73 msec OK|
|graph.pl                      120 msec OK|graph.pl                      352 msec OK|graph.pl                       77 msec OK|graph.pl                       73 msec OK|
|gray-code-counter.pl          112 msec OK|gray-code-counter.pl          362 msec OK|gray-code-counter.pl           82 msec OK|gray-code-counter.pl           64 msec OK|
|hanoi.pl                      134 msec OK|hanoi.pl                      363 msec OK|hanoi.pl                       83 msec OK|hanoi.pl                       90 msec OK|
|kaprekar.pl                 22840 msec OK|kaprekar.pl                  3633 msec OK|kaprekar.pl                   572 msec OK|kaprekar.pl                  1038 msec OK|
|lee.pl                        119 msec OK|lee.pl                        357 msec OK|lee.pl                         77 msec OK|lee.pl                         71 msec OK|
|meta-interpretation.pl        119 msec OK|meta-interpretation.pl        359 msec OK|meta-interpretation.pl         85 msec OK|meta-interpretation.pl         75 msec OK|
|multi-agent.pl                114 msec OK|multi-agent.pl                364 msec OK|multi-agent.pl                 79 msec OK|multi-agent.pl                 65 msec OK|
|n-queens.pl                   161 msec OK|n-queens.pl                   355 msec OK|n-queens.pl                    88 msec OK|n-queens.pl                   127 msec OK|
|padovan.pl                    121 msec OK|padovan.pl                    359 msec OK|padovan.pl                     86 msec OK|padovan.pl                     85 msec OK|
|path-discovery.pl           30686 msec OK|path-discovery.pl            3458 msec OK|path-discovery.pl            1105 msec OK|path-discovery.pl            2614 msec OK|
|peano.pl                      125 msec OK|peano.pl                      361 msec OK|peano.pl                       75 msec OK|peano.pl                       72 msec OK|
|peasant.pl                    180 msec OK|peasant.pl                    386 msec OK|peasant.pl                     87 msec OK|peasant.pl                    324 msec OK|
|pi.pl                         235 msec OK|pi.pl                         375 msec OK|pi.pl                         181 msec OK|pi.pl                         493 msec OK|
|polygon.pl                    111 msec OK|polygon.pl                    358 msec OK|polygon.pl                     83 msec OK|polygon.pl                     66 msec OK|
|polynomial.pl                 125 msec OK|polynomial.pl                 358 msec OK|polynomial.pl                  87 msec OK|polynomial.pl                  74 msec OK|
|prime.pl                      125 msec OK|prime.pl                      359 msec OK|prime.pl                       86 msec OK|prime.pl                      106 msec OK|
|proof-by-cases.pl             124 msec OK|proof-by-cases.pl             351 msec OK|proof-by-cases.pl              81 msec OK|proof-by-cases.pl              72 msec OK|
|proof-by-contradiction.pl     114 msec OK|proof-by-contradiction.pl     356 msec OK|proof-by-contradiction.pl      76 msec OK|proof-by-contradiction.pl      66 msec OK|
|proof-by-contrapositive.pl    111 msec OK|proof-by-contrapositive.pl    359 msec OK|proof-by-contrapositive.pl     82 msec OK|proof-by-contrapositive.pl     66 msec OK|
|proof-by-induction.pl         113 msec OK|proof-by-induction.pl         345 msec OK|proof-by-induction.pl          86 msec OK|proof-by-induction.pl          74 msec OK|
|qiana.pl                      111 msec OK|qiana.pl                      359 msec OK|qiana.pl                       78 msec OK|qiana.pl                       68 msec OK|
|sieve.pl                      125 msec OK|sieve.pl                      390 msec OK|sieve.pl                       86 msec OK|sieve.pl                      108 msec OK|
|socrates.pl                   117 msec OK|socrates.pl                   393 msec OK|socrates.pl                    77 msec OK|socrates.pl                    92 msec OK|
|superdense-coding.pl          116 msec OK|superdense-coding.pl          396 msec OK|superdense-coding.pl           77 msec OK|superdense-coding.pl           68 msec OK|
|takeuchi.pl                   798 msec OK|takeuchi.pl                   453 msec OK|takeuchi.pl                   379 msec OK|takeuchi.pl                  1382 msec OK|
|turing.pl                     115 msec OK|turing.pl                     400 msec OK|turing.pl                      76 msec OK|turing.pl                      72 msec OK|
|universal.pl                  116 msec OK|universal.pl                  379 msec OK|universal.pl                   79 msec OK|universal.pl                   69 msec OK|
|workplace.pl                 4350 msec OK|workplace.pl                  889 msec OK|workplace.pl                  275 msec OK|workplace.pl                  369 msec OK|
|zebra.pl                      146 msec OK|zebra.pl                      383 msec OK|zebra.pl                       93 msec OK|zebra.pl                       91 msec OK|
|                                         |                                         |                                         |                                         |
|841 sec 52 OK 0 DIFF                     |411 sec 52 OK 0 DIFF                     |15 sec 52 OK 0 DIFF                      |40 sec 52 OK 0 DIFF                      |
