# running eyelog v1.7.19 examples and test cases

|[etc](etc)                       |scryer v0.9.4   |sicstus v4.9.0  |swipl v9.3.19   |trealla v2.63.33|
| :---                     |           ---: |           ---: |           ---: |           ---: |
|[access-control-policy.pl](etc/access-control-policy.pl)  |     117 msec OK|     387 msec OK|      94 msec OK|      72 msec OK|
|ackermann.pl              |     724 msec OK|     674 msec OK|     361 msec OK|    1184 msec OK|
|age.pl                    |     137 msec OK|     354 msec OK|      81 msec OK|      65 msec OK|
|basic-monadic.pl          |    4270 msec OK|     966 msec OK|     266 msec OK|    1266 msec OK|
|collatz.pl                |  152067 msec OK|   48971 msec OK|    1544 msec OK|    2261 msec OK|
|combinatorics.pl          |     207 msec OK|     369 msec OK|      83 msec OK|      91 msec OK|
|complex.pl                |     121 msec OK|     390 msec OK|      84 msec OK|      72 msec OK|
|control-system.pl         |     120 msec OK|     366 msec OK|      79 msec OK|      66 msec OK|
|curly.pl                  |     119 msec OK|     353 msec OK|      76 msec OK|      65 msec OK|
|deep-taxonomy.pl          |    3496 msec OK|   10193 msec OK|     644 msec OK|    1063 msec OK|
|derived-rule.pl           |     117 msec OK|     383 msec OK|      77 msec OK|      68 msec OK|
|diamond-property.pl       |     148 msec OK|     358 msec OK|      81 msec OK|      69 msec OK|
|dog.pl                    |     113 msec OK|     374 msec OK|      77 msec OK|      64 msec OK|
|easter.pl                 |     125 msec OK|     354 msec OK|      76 msec OK|      66 msec OK|
|enigma1225.pl             |     235 msec OK|     373 msec OK|      86 msec OK|      90 msec OK|
|eulers-identity.pl        |     109 msec OK|     364 msec OK|      80 msec OK|      64 msec OK|
|fast-fourier-transform.pl |     132 msec OK|     354 msec OK|      78 msec OK|      68 msec OK|
|fibonacci.pl              |     127 msec OK|     358 msec OK|      79 msec OK|      85 msec OK|
|four-color.pl             |     122 msec OK|     376 msec OK|      78 msec OK|      66 msec OK|
|fuse.pl                   |     117 msec OK|     376 msec OK|      78 msec OK|      64 msec OK|
|goldbach.pl               |  615341 msec OK|  325339 msec OK|    5318 msec OK|   24515 msec OK|
|good-cobbler.pl           |     119 msec OK|     353 msec OK|      80 msec OK|      85 msec OK|
|gps.pl                    |     112 msec OK|     354 msec OK|      85 msec OK|      73 msec OK|
|graph.pl                  |     120 msec OK|     352 msec OK|      77 msec OK|      73 msec OK|
|gray-code-counter.pl      |     112 msec OK|     362 msec OK|      82 msec OK|      64 msec OK|
|hanoi.pl                  |     134 msec OK|     363 msec OK|      83 msec OK|      90 msec OK|
|kaprekar.pl               |   22840 msec OK|    3633 msec OK|     572 msec OK|    1038 msec OK|
|lee.pl                    |     119 msec OK|     357 msec OK|      77 msec OK|      71 msec OK|
|meta-interpretation.pl    |     119 msec OK|     359 msec OK|      85 msec OK|      75 msec OK|
|multi-agent.pl            |     114 msec OK|     364 msec OK|      79 msec OK|      65 msec OK|
|n-queens.pl               |     161 msec OK|     355 msec OK|      88 msec OK|     127 msec OK|
|padovan.pl                |     121 msec OK|     359 msec OK|      86 msec OK|      85 msec OK|
|path-discovery.pl         |   30686 msec OK|    3458 msec OK|    1105 msec OK|    2614 msec OK|
|peano.pl                  |     125 msec OK|     361 msec OK|      75 msec OK|      72 msec OK|
|peasant.pl                |     180 msec OK|     386 msec OK|      87 msec OK|     324 msec OK|
|pi.pl                     |     235 msec OK|     375 msec OK|     181 msec OK|     493 msec OK|
|polygon.pl                |     111 msec OK|     358 msec OK|      83 msec OK|      66 msec OK|
|polynomial.pl             |     125 msec OK|     358 msec OK|      87 msec OK|      74 msec OK|
|prime.pl                  |     125 msec OK|     359 msec OK|      86 msec OK|     106 msec OK|
|proof-by-cases.pl         |     124 msec OK|     351 msec OK|      81 msec OK|      72 msec OK|
|proof-by-contradiction.pl |     114 msec OK|     356 msec OK|      76 msec OK|      66 msec OK|
|proof-by-contrapositive.pl|     111 msec OK|     359 msec OK|      82 msec OK|      66 msec OK|
|proof-by-induction.pl     |     113 msec OK|     345 msec OK|      86 msec OK|      74 msec OK|
|qiana.pl                  |     111 msec OK|     359 msec OK|      78 msec OK|      68 msec OK|
|sieve.pl                  |     125 msec OK|     390 msec OK|      86 msec OK|     108 msec OK|
|socrates.pl               |     117 msec OK|     393 msec OK|      77 msec OK|      92 msec OK|
|superdense-coding.pl      |     116 msec OK|     396 msec OK|      77 msec OK|      68 msec OK|
|takeuchi.pl               |     798 msec OK|     453 msec OK|     379 msec OK|    1382 msec OK|
|turing.pl                 |     115 msec OK|     400 msec OK|      76 msec OK|      72 msec OK|
|universal.pl              |     116 msec OK|     379 msec OK|      79 msec OK|      69 msec OK|
|workplace.pl              |    4350 msec OK|     889 msec OK|     275 msec OK|     369 msec OK|
|zebra.pl                  |     146 msec OK|     383 msec OK|      93 msec OK|      91 msec OK|
|                          |                |                |                |                |
|TOTAL                     |   841 sec 52 OK|   411 sec 52 OK|    15 sec 52 OK|    40 sec 52 OK|
